# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Conda
env/
*.conda
*.yaml
*.yml

# VS Code
.vscode/
settings.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
*.DS_Store

# Database
data/